credentials:
  registries:
    - name: 'harbor'
      user: 'admin'
      pass: 'Password12345'
    - name: 'docker'
      server: 'docker.io'
      user: '{{ TDH_REGISTRY_DOCKER_USER }}'
      pass: '{{ TDH_REGISTRY_DOCKER_PASS }}'
    - name: 'pivotal'
      server: 'registry.pivotal.io'
      user: '{{ TDH_REGISTRY_VMWARE_USER }}'
      pass: '{{ TDH_REGISTRY_VMWARE_PASS }}'
    - name: 'vmware'
      server: 'registry.tanzu.vmware.com'
      user: '{{ TDH_REGISTRY_VMWARE_USER }}'
      pass: '{{ TDH_REGISTRY_VMWARE_PASS }}'
  vmc:
    user:
    tmc:
      tenant:
        api_token: '{{ TMC_SERVICE_TOKEN }}'
  vsphere:
    vcenter:
      admin_user: 'administrator@vsphere.local'
      admin_pass: 'LOZtGM3Y2oRr$Ph5yhg'
  azure:
    subscription_id: '{{ AZURE_SUBSCRIPTION_ID }}'
    tenant_id: '{{ AZURE_TENANT_ID }}'
    client_secret: '{{ AZURE_CLIENT_SECRET }}'
  aws:
    secret_key: '{{ AWS_SECRET_KEY }}'
    access_key: '{{ AWS_ACCESS_KEY }}'
    region: '{{ AWS_REGION }}'
    hosted_zone:
      region: '{{ AWS_ROUTE53_REGION }}'
      secret_key: '{{ AWS_ROUTE53_SECRET_KEY }}'
      access_key: '{{ AWS_ROUTE53_ACCESS_KEY }}'


